.btn-outline-{
  &primary{
    &:hover{
      color: map-get($theme-colors, 'primary');
      background: map-get($theme-colors, 'third');
    }
          
    &.active{
      color: $white;
      background: map-get($theme-colors, 'primary');
    }
  }
}